*{
	margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden; 
}

body {
 
}
img{
	display: block;
	max-width: 100%;
}
.clearfix {
  clear: both;
  float: none;
}
.pantalla{
	position: relative;
	width: 100%;
	height: 65em;
	background-image: url(../img/fondo.png);
	background-attachment: fixed;
}

.icon1{
	position: absolute;
	width: 75px;
	top: 8em;
	left: 15em;
}
.icon2{
	position: absolute;
	width: 13em;
	right: 80px;
	top: 30em;
	z-index: 4
}
.icon3{
	position: absolute;
	width: 10em;
	right: 18em;
	top: 10em;
}
.icon4{
	position: absolute;
	width: 7em;
	bottom: 20em;
	left: 2em;
}
.icon5{
	position: absolute;
	width: 12em;
	top: 30em;
	right: 50%;
	z-index: 1;
}
/*--------------------CONTENEDOR 1--------------------*/
.container{
	color: white;
	background-color: #222;
	background-attachment: fixed;
}
.container p{
	padding: 15px 8em 10em;
	font-size: 20px;
}
.container h2{
	color: red;
	font-size: 40px;
	padding: 5em 0px 0px 0px;
}


.clearfix {
  clear: both;
  float: none;
}
/*----------------------CONTENEDOR 2----------------------*/
.container2{
	color: #333;
	background-color: white;
	
	
}
.container2 h2{
	font-size: 40px;
	margin: 1em 0em;
}
.cajaservicio{
	width: 35%;
	margin: 20px 30px;
	margin-left: 8%;
	float: left;
}
.icono{
	color:red;
	font-size: 60px;
}
.cajaservicio p{
	color: #777;
	font-size: 15px;
	font-weight: bold;
}
.cajaservicio a{
	font-size: 25px;
	color: black;
	font-weight: bold;
}
.cajaservicioarr{
	margin-left: 70px;
	margin-top: -55px;
}
/*-------SECION DE MENU-----------*/
#header{
	position: fixed;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background: white;
	z-index: 1000;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(250,118,118,1);
-moz-box-shadow: 0px 1px 1px 0px rgba(250,118,118,1);
box-shadow: 0px 1px 1px 0px rgba(250,118,118,1);
	}
#header img{
	width: 100px;
	margin-left:  100px;
	margin-top: 5px;
	float: left;
}
#menu ul{
 position: absolute;
 right: 0px;
 margin-right: 80px;
}
#menu li{
	list-style: none;
	float: left;
	margin: 0px 40px;
	
}
#menu li a{
	color: #333;
	transition: 0.3s;
	font-size: 17px;
	font-weight: bold;
}
#menu li a:hover{
	color: red;
	font-size: 19px;

}
/*----Contacto---*/
#contacto {

}
.info{
	background-color: #333;
	padding: 0px 50px;
}
.info h2{
	color: white;
	padding: 13px 0px;
}
.info h3{
	color: red;
	padding: 15px 0px;
}
.info p{
	color: #777;
	font-weight: bold;
}
.info a{
	color: #777;
	font-size: 25px;
}
.info a:hover{
	color: red;
	transition: 0.4s;
}
/*----------------------SECCION NOSOTROS----------------------*/
.nosotros{
	position: relative;
	width: 100%;
	height: 60em;
	background-image: url(../img/fondo2.png);
	background-attachment: fixed;
}
.caja{
	position: absolute;
	font-size: 20px;
	color: white;
	width: 80%;
	left: 10%;
	top: 15%;
	padding: 20px;
	border-radius: 15px;
	background: rgba(42,43,42,1);
background: -moz-linear-gradient(left, rgba(42,43,42,1) 0%, rgba(145,19,19,0.6) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(42,43,42,1)), color-stop(100%, rgba(145,19,19,0.6)));
background: -webkit-linear-gradient(left, rgba(42,43,42,1) 0%, rgba(145,19,19,0.6) 100%);
background: -o-linear-gradient(left, rgba(42,43,42,1) 0%, rgba(145,19,19,0.6) 100%);
background: -ms-linear-gradient(left, rgba(42,43,42,1) 0%, rgba(145,19,19,0.6) 100%);
background: linear-gradient(to right, rgba(42,43,42,1) 0%, rgba(145,19,19,0.6) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2b2a', endColorstr='#911313', GradientType=1 );

}
/*---------------------------Estilos del Footer---------------------------*/
.footer{
	position: relative;
	background: #222;
	width: 100%;
	height: 20em;

}
.jea{
	position: absolute;
	bottom: 8px;
	color: white;
	width: 100%;
}
.jealogo{
	position: absolute;
	right: 60px;
	width: 180px;
	top: 80px;
}
.caja2{
	position: absolute;
	width: 25em;
	color: white;
	margin-left: 8%;
	margin-top: 30px;
}
/*-------------------------------FORMULARIO-------------------------------------*/
.formulario{
	background: #333;
	width: 400px;
	padding: 10px 20px;
	box-sizing: border-box;
}
.formulario h2{
	color: white;
	text-align: center;
	margin: 0px;
	margin-bottom: 20px;
}
.formulario input,textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 8px;
	box-sizing: border-box;
	font-size: 17px;
	border:none;
	border-bottom: 1px solid red;
	background-color: #333;
	color: white;
}
.formulario textarea{
	min-height: 100px;
	max-height: 400px;
	max-width: 100%;
}
#btnEnviar{
	background: red;
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.divFormulario{
	width: 100%;
	display: inline-flex;
	margin-top: 10px;
	margin:0px auto;
	float: left;
	margin-left: 20%;
	margin-bottom: 80px;
}

.contenedorContacto{
	width: 80%;
	margin: auto;
	margin-top: 7%;

}
@media (max-width: 1200px){
	.divFormulario{
		width: 90%;
		display: inline-block;

	}
	.formulario{
		width: 100%;
		margin:30px auto;

}	
	iframe{
		width: 100%;
		height: 400px;

	}
	

}

/*-----------------------------------------------------------------------------*/



