/*ESTILOS MOVILES*/
@media all and (max-width : 1100px) {
	
	.mostrar{
	left: 0%;
	}
	#menu{
        position: absolute;
        left: -110%;
        top: 50px;
        margin-top: auto;
		z-index: 1000;
        transition: 0.3s;
        -webkit-box-shadow: 1px 2px 5px 0px rgba(255,38,38,0.29);
        -moz-box-shadow: 1px 2px 5px 0px rgba(255,38,38,0.29);
        box-shadow: 1px 2px 5px 0px rgba(255,38,38,0.29);
	}
	#menu ul{
        position: relative;
		margin: 0px;
		left: 0px;
		
	}
	#menu li{
		float: none;
		margin:0px;
		width: 100%;
		background: white;
        padding: 0px 40px;
	}
	#menu li a{
	color: red;
	font-size: 17px;
	font-weight: bold;
}
    #menu li a:hover{
        font-size: 17px;
    }
.iconM{
	visibility: visible;
}

}
@media all and (max-width : 980px) {
    .promo h2{
        font-size: 15px;
    }
    .promo p{
        font-size:12px;
    }
    #header img{
        margin-left: 50px;
    }
    .container p{
        padding: 10px 4em 75px;
        font-size: 12px;
        text-align: justify;
    }
    .container h2{
        padding: 75px 5px 0px;
        color: red;
        font-size: 22px;
    }
    .container2 h2{
        font-size: 22px;
    }
    .cajaservicio{
        width: 80%;
        height: auto;
        margin: 40px 0px;
        left: 10%;
        float: none;

    }
    .icono{
        font-size: 40px;
    }
    .cajaservicio p{
        font-size: 12px;
       
    }
    .cajaservicio a{
        font-size: 20px;

    }
    .caja p{
        font-size: 12px;
    }
    .caja h2{
        font-size: 20px;
    }
    .arapc{
        height: 280px;
    }
}
@media all and (max-width : 785px) {
    #header img{
        width: 80px;
        margin-left: 20px;
    }
    .btnPM{
        display: block;
    }
    .btnP{
        display: none;
    }
    .menua{
        display: block;
        
    }
    #fondo {
        display: none;
    }
    #fondo1 {
        display: block
    }
    .promo{
        width: 80%;
        left: 3%;
    }
    .promo h2{
        margin-bottom: 5px;
    }
    .btnPromo{
        margin-top: 15px;
        font-size: 10px;
        padding: 5px 10px;
    }
    .caja2{
        position: relative;
        width: 25em;
        color: white;
        margin-left: 5%;
        margin-top: 0px;
        text-align: justify;
    }
    .caja2 p{
        font-size: 12px;
    }
    .caja2 h2{
        padding-top: 20px;
        font-size: 20px;
    }
    .jealogo{
        position: relative;
        width: 100px;
        top: 25px;
        right: 0px;
        margin-left: 8%;
    }
    .footer{
        height: 15em;
    }
    
}
@media all and (max-width : 415px) {
    #header img{
        width: 50px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .btnPromoM{
        font-size: 8px!important;
        right: 18em;
    }
    .menu1 li a{
        font-size: 10px;
    }
    .modalcontenido{
        background-color:#333;
        width:350px;
    }
}